.MenuItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
}
.MenuItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent ;

}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
}