.Menu {
    /* background-color: red; */
    list-style: none;
    display: flex;
    flex-flow:row;
    margin:0px;
    padding: 0px;
    height: 100%;
    align-items: center;
    /* flex-direction: column; */
}