.Modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    widows: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left :35%;
    top: 34%;
    transition: all 0.6s ease-out;
}

@media (min-width:600px ){
    .Modal{
        width:500px;
        left: calc(50%-320px);
    }
}