.seed {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: #fff;
  top: 30%;
  left: 30%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.Second {
  top: 25%;
  left: 50%;
  transform: rotate(-50deg);
}
.Third {
  top: 35%;
  left: 78%;
  transform: rotate(-195deg);
}
.Fourth {
  top: 63%;
  left: 10%;
  transform: rotate(-170deg);
}
.BreadTop {
  width: 80%;
  height: 20%;
  background: linear-gradient(#bc581e, #e27b36);
  margin: auto;
  border-radius: 50% 50% 0 0%;
  position: relative;
}

.Salad {
  width: 90%;
  height: 6%;
  background: linear-gradient(#228c1d, #91ce50);
  margin: 2% auto;
  border-radius: 20px;
}
.Meat {
  width: 88%;
  height: 8%;
  margin: 2% auto;
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 10px;
}
.Cheese {
  width: 96%;
  height: 5%;
  margin: 1% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 9px;
}
.Bacon {
  width: 80%;
  height: 3%;
  margin: 2% auto;
  background: linear-gradient(#bf3813, #c45e38);
  border-radius: 20px;
}

.BreadBottom {
  width: 80%;
  height: 10%;
  background: linear-gradient(#bc581e, #e27b36);
  margin: auto;
  border-radius: 0% 0% 20% 20%;
}
